{% extends 'list/index.html' %}

{% block title %}List of posts{% endblock %}
{% block content %}
<div class="wrapper_all">
    <h1 class="h1_all">List of all your Posts ;)</h1>
    <ul class="list_all">
        {% for post in posts|dictsort:"date" %}
        <li class="li_all">
            <a href="#" class="post-title">{{post.title|slice:"20"}}</a>
            <!-- slice of description(when it's too big) -->
            <p class="post-description">{{post.description|slice:"60"}}</p>
            <p class="post-date">{{post.date}}</p>
        </li>
    </ul>
    
    
{% endfor %}
</div>
{% endblock %}